<!-- main.hbs file -->
<div class="body">
	<div class="main">
		<div class="button-bar">
			<button class="button" id="assemble">Assemble</button>
			<button class="button" id="run step">Run Step</button>
			<button class="button" id="run all">Run All</button>
			<button class="button" id="stop">Stop</button>
			<div class="button-spacer"></div>
			<button class="button" id="editor button">Editor</button>
			<button class="button" id="opcodes button">Opcodes</button>
			<button class="button" id="errors button">Errors</button>
			<button class="button" id="pipelines button">Pipeline</button>
			<button class="button" id="risc-v registers button">RISC-V Registers</button>
		</div>

		<div class="content" id="editor">
			<textarea class="textbox" id="editorText">Editor</textarea>
		</div>

		<div class="content" id="opcodes">
			<table id="opcodes-table">
				<thead>
					<tr>
						<th>Instruction</th>
						<th>31-25</th>
						<th>24-20</th>
						<th>19-15</th>
						<th>14-12</th>
						<th>11-7</th>
						<th>6-0</th>
						<th>hexcode</th>
					</tr>
				</thead>
				<tbody id="opcode-body">
				</tbody>
			</table>
		</div>
		<script id="opcode-row-template" type="text/x-handlebars-template">
			\{{#each assembledInstructions}}
			<tr>
				<td>\{{instructionName}}</td>
				<td>\{{field31_25}}</td>
				<td>\{{field24_20}}</td>
				<td>\{{field19_15}}</td>
				<td>\{{field14_12}}</td>
				<td>\{{field11_7}}</td>
				<td>\{{field6_0}}</td>
				<td>\{{hexcode}}</td>
			</tr>
			\{{/each}}
		</script>

		<div class="content" id="errors">
			<textarea class="textbox" id="errorsText">No errors.</textarea>
		</div>

		<div class="content" id="pipelines">
			<table>
				<tr>
					<th>Instruction</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
				</tr>

				<tr>
					<td>Table width is set to auto, will fit based on smallest possible size</td>
					<td>IF</td>
					<td>ID</td>
					<td>EX</td>
					<td>MEM</td>
					<td>WB</td>
					<td></td>
				</tr>

			</table>
		</div>

		<div class="content" id="risc-v registers">
			<table>
				<tr>
					<th>Register</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
				</tr>

				<tr>
					<td>IF/ID.IR</td>
					<td>Table width is set to auto, will fit based on smallest possible size</td>
				</tr>

				<tr>
					<td>IF/ID.NPC</td>
				</tr>

				<tr>
					<td>PC</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>ID/EX.A</td>
				</tr>

				<tr>
					<td>ID/EX.B</td>
				</tr>

				<tr>
					<td>ID/EX.IMM</td>
				</tr>

				<tr>
					<td>ID/EX.IR</td>
				</tr>

				<tr>
					<td>ID/EX.NPC</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>EX/MEM.ALUOUTPUT</td>
				</tr>

				<tr>
					<td>EX/MEM.IR</td>
				</tr>

				<tr>
					<td>EX/MEM.B</td>
				</tr>

				<tr>
					<td>EX/MEM.COND</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>MEM/WB.LMD</td>
				</tr>

				<tr>
					<td>MEM/WB.IR</td>
				</tr>

				<tr>
					<td>MEM/WB.ALUOUTPUT</td>
				</tr>

				<tr>
					<td>MEM[EX/MEM.ALUOUTPUT]</td>
				</tr>

				<tr>
					<td></td>
				</tr>

				<tr>
					<td>REGS[MEM/WB.IR[rd]]</td>
				</tr>


			</table>
		</div>
	</div>

	<div class="side">
		<div class="button-bar">
			<button class="button" id="registers button">Registers</button>
			<button class="button" id="memory button">Memory</button>
			<button class="button" id="goto button">Goto</button>
		</div>

		<div class="content" id="registers">
			<table>
				<tr>
					<th>Register</th>
					<th>Data</th>
				</tr>
				{{#each registers}}
				<tr>
					<td>{{register}}</td>
					<td>{{data}}</td>
				</tr>
				{{/each}}
			</table>
		</div>

		<div class="content" id="memory">
			<table>
				<tr>
					<th>Memory</th>
					<th>Data</th>
				</tr>
				{{#each registers}}
				<tr>
					<td>{{register}}</td>
					<td>{{data}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</div>
</div>